{% extends "base.html" %}

{% block title %}Locations{% endblock %}

{% block content %}
<div class=" bg-white rounded-lg shadow p-6 mb-6">
    <h1 class="text-3xl font-bold mb-6">Locations</h1>
    

    <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-2">
        {{ form.location_id.label }}<br>
        {{ form.location_id(class="w-full border p-2 rounded") }}
    </div>
    <div class="mb-2">
        {{ form.name.label }}<br>
        {{ form.name(class="w-full border p-2 rounded") }}
    </div>
    <div class="mb-2">
        {{ form.description.label }}<br>
        {{ form.description(class="w-full border p-2 rounded") }}
    </div>
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Add Location</button>
    </form>
</div>  

    <!-- Locations Table -->
    <div class="overflow-x-auto rounded-lg shadow">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-100 text-left">
                    <th class="px-4 py-2 border-b">ID</th>
                    <th class="px-4 py-2 border-b">Location Name</th>
                    <th class="px-4 py-2 border-b">Description</th>
                    <th class="px-4 py-2 border-b">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for location in locations %}
                <tr class="hover:bg-gray-50">
                    <td class="px-4 py-2 border-b">{{ location.location_id }}</td>
                    <td class="px-4 py-2 border-b">{{ location.name }}</td>
                    <td class="px-4 py-2 border-b">{{ location.description }}</td>
                    <td class="px-6 py-4 border-b space-x-2">
                        <a href="{{ url_for('main.edit_location', location_id=location.location_id) }}" class="text-white px-4 py-2 rounded-lg bg-blue-600">Edit</a>
                        <a href="{{ url_for('main.delete_location', location_id=location.location_id) }}" class="text-white px-4 py-2 rounded-lg bg-red-600">Delete</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="px-4 py-2 text-center text-gray-500">No locations found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}